<h1>Трудности</h1>
<section >
    <h1>Декогеренция</h1>
    <section class="nested">
    <h2> - это процесс, в котором хрупкие квантовые состояния разрушаются при взаимодействии с окружающей средой.</h2>
    </section>
  <h2>Ключевые факторы, вызывающие декогеренцию:</h2>

  <section class="nested">
      <img src="" alt="Температура">
      <h3>Температура</h3>
      <p>Температура играет роль главного злодея в этой истории. Чем теплее окружающая среда, тем активнее движутся её частицы, и тем быстрее они "допрашивают" нашу квантовую систему. Именно поэтому квантовые компьютеры работают при температурах, близких к абсолютному нулю - это попытка спрятать квантовые состояния от любопытных "глаз" теплового движения.</p>
  </section>

  <section class="nested">
      <img src="" alt="Электромагнитные поля" >
      <h3>Электромагнитные поля</h3>
      <p>Электромагнитные поля тоже не остаются в стороне. Они действуют как вездесущие папарацци, постоянно "фотографирующие" квантовую систему. Даже самое слабое электромагнитное взаимодействие может привести к декогеренции. Представьте себе, что вы пытаетесь сохранить в тайне свое местоположение, но ваш смартфон постоянно отправляет сигналы о том, где вы находитесь - примерно так же работает и взаимодействие квантовых систем с электромагнитными полями.</p>
  </section>

  <section class="nested">
      <img src="" alt="Гравитация" >
      <h3>Гравитация</h3>
      <p>А еще есть гравитация - самый таинственный фактор в этом уравнении. Мы до сих пор не до конца понимаем, как именно гравитация влияет на квантовые состояния, но подозреваем, что она может играть важную роль в декогеренции. Это как если бы существовал невидимый наблюдатель, который каким-то образом влияет на происходящее, но мы не можем поймать его за руку.</p>
  </section>
</section>
  <section >
      <h2>Плохая масштабируемость</h2>
      <img src="" alt="Масштабируемость" >
      <p>Главная проблема большинства квантовых компьютеров заключена в том, что масштабировать его становится всё тяжелее.</p>
    

    <section class="nested">
      <h3>Сложность технической реализации</h3>
      <p>Квантовая запутанность, которая используется в большинстве компьютеров, — крайне 
        нестабильное состояние. Любое внешнее воздействие разрушает эту связь.</p>
        <hr>
      <p>Квантовые компьютеры обеспечивают экспоненциальное ускорение по сравнению с классическими 
        компьютерами. Однако эмпирически установлено, что с увеличением количества кубитов 
        компьютеру становится всё сложнее продолжать работать (декогеренция, уменьшение разделения
         энергетических уровней, более длительное время релаксации...). Для этого необходимо перейти
          к более низким температурам, лучше защищать от воздействия окружающей среды и повышать 
          точность производства.</p>
        </section>

        <section class="nested">
      <h3>Методы исправления ошибок:</h3>
      <ul>
          <li>Код Шорра. Позволяет исправлять ошибки в одном кубите с использованием нескольких избыточных кубитов.</li>
          <li>Код Говарда. Использует топологические свойства для защиты информации от ошибок.</li>
          <li>Использование логических кубитов. Каждый из них «собирают» из нескольких физических кубитов. Но это ведёт к снижению вычислительной мощности компьютера, выполняющих функции кубитов.</li>
          </ul>
          </section>
        </section>

        

