
  <header>
      <div class="logo">
          <img src="path/to/your/logo.png" alt="Логотип" class="logo-img">
      </div>
      <nav class="nav-menu">
          <a routerLink = "/home" routerLinkActive="active-page" ariaCurrentWhenActive="page">Домой</a>
          <a routerLink = "/qubit" routerLinkActive="active-page" ariaCurrentWhenActive="page">О кубитах</a>
          <a routerLink = "/quantum-mechanics" routerLinkActive="active-page" ariaCurrentWhenActive="page">Квантовая физика</a>
          <a routerLink = "/problems" routerLinkActive="active-page" ariaCurrentWhenActive="page">Трудности</a>
          <a routerLink = "/types" routerLinkActive="active-page" ariaCurrentWhenActive="page">Типы</a>
      </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer-content">
        <p>О нас: Сайт создан энтузиастом для школьного проекта с целью увелечения осведомлённости в области квантовых компьютеров</p>
        <p>Содержание сайта взято из открытых источников, из-за чего информация представленая на нём может оказаться ложной</p>
        <p>Ссылки на мои социальные сети представлены ниже</p>
        <div class="social-links">
            <a href="https://twitter.com" target="_blank">
                <img src="path/to/twitter-logo.png" alt="X" class="social-icon">
            </a>
            <a href="https://facebook.com" target="_blank">
                <img src="path/to/facebook-logo.png" alt="Telegram" class="social-icon">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="path/to/instagram-logo.png" alt="Vk" class="social-icon">
            </a>
        </div>
    </div>
</footer>
