
    <h1>Кубиты</h1>
  
    <section >
      <h2>Определение кубита:</h2>
      <p>
        Кубит - минимальная единица передаваемой или хранимой квантовой
        информации, аналогичная биту. Отличие в том что физически это уже не
        транзисторы, а некие квантовые частицы. В отличие от бита, кубиты могут
        не только равняться 0 или 1, но и принимать любые значения между ними.
      </p>
    </section>
  
    <section>
      <h2>Состояния кубитов:</h2>
      <section class="nested">
      <h3>Суперпозиция</h3>
      <p>
        это некое смешанное состояние когда условно кубит
        принимает 0 и 1 одновременно.
      </p>
    </section>
    <section class="nested">
      <h3>Базисное состояние</h3>
      <p>
        Базисное состояние - это состояние при котором кубит принимает устойчиво
        одно из двух позиций. Это 1 или 0.
      </p>
    </section>
      
      <p>
        Только после прочтения кубита можно сказать какое значение принял кубит.
        Причём он с одинаковой или разной пропорцией вероятности может
        коллапсировать в то или другое базисное состояние. Состояние кубита,
        находящегося как в базисных состояниях, так и в суперпозиции.
      </p>
    
    </section>
  
      <section >
      <h2>Способы реализации:</h2>
      <section class="nested">
      <h3>Ионы в электромагнитной ловущке</h3>
      <p>
        Первая технология — это ионы в электромагнитной ловушке, называющейся
        ловушкой Пауля. Такая ловушка генерирует в малом участке пространства
        внутри себя особым образом расположенные по отношению друг к другу
        электромагнитные поля. Это приводит к тому, что помещаемые в данное
        пространство заряженные частицы возможно накапливать и удерживать
        длительное время внутри ловушки.
      </p>
      <p>
        Такое расположение ионов позволяет легко ими манипулировать и адресно
        возбуждать. По двум измерениям ионная цепочка модулируется с помощью
        импульсных ла рис. 4 хорошо видно, как
        изменяются области максимальной флуоресценции ионов магния. Чем больше
        ионов загружается в ловушку, тем они сильнее сближаются, и 12-ионная
        цепочка превращается уже в относительно слабо различимое зигзагообразное
        образование.
      </p>
      <div >
        <img src="" alt="Ионы в электромагнитной ловушке">
      </div>
    </section>
    <section class="nested">
      <h3>Нейтральные атомы (лазерный пинцет)</h3>
    <p>
        Вторая технология – использование в качестве кубитов нейтральных атомов. Как следует из названия, нейтральные атомы, в отличие от ионов, не имеют заряда.
         Поэтому нет возможности захватывать их в электромагнитных ловушках. 
         Для формирования массива из нейтраль-ных атомов и манипуляции ими используют т.н. 
         лазерный пинцет – устройство, позволяющее манипулировать очень малыми по размеру объектами с помощью сфокусированного лазерного пучка.
          После захва-та атомов в оптическую матрицу и их упорядочивания производится адресное возбуждение атомов лазерными импульсами. 
    </p>
    <p>Такая система всё ещё обладает некоторыми проблемами, связанными с декогеренцией, однако 
        она может включать в себя уже значительно большее количество кубитов, чем ионные ловушки.
         Тем не менее, как и у ионных ловушек, у этих систем с нейтральными атомами по-прежнему 
         сохраняются проблемы с масштабированием. К сожалению, на данный момент затруднительно 
         увеличивать размерность кубитных матриц, что связано не только с декогеренцией,
         но также с техническими ограниче-ниями.</p>
    <div>
      <img src="" alt="Нейтральные атомы (лазерный пинцет)" >
    </div>
  </section>
  <section class="nested">
    <h3>Сверхпроводящие полупроводниковые чипы (Джозефсоновские контакты)</h3>
    <p>
      Третья технология – сверхпроводящие полупроводниковые чипы. Их также называют Джозефсоновскими контактами, так как в них возникает одноимённый эффект. Эффект Джозефсона – это явление протекания сверхпроводящего тока через тонкий слой диэлектрика, разделяющий два сверхпроводника. Эти контакты проявляют эффекты из области квантовой механики в обычном, не атомном масштабе (например, кван-тование энергии). Это обстоятельство позволяет использовать эти кон-такты в качестве кубитов
    </p>
    <p>
      Преимущество этой технологии состоит в том, что она базируется на уже хорошо развитой в мире технологии создания полупроводниковых чипов. Контакты имеют макроскопический размер и их можно группи-ровать на чипах. Однако вследствие необходимости создания сверхпро-водимости в этих структурах работа Джозефсоновских контактов осу-ществляется лишь при криогенных температурах, что не позволяет ком-пактизировать всю установку, а по-прежнему присутствующая декоге-ренция ограничивает численное увеличение контактов на чипе.
    </p>
    <div >
      <img src="" alt="Сверхпроводящие полупроводниковые чипы (Джозефсоновские контакты)" >
    </div>
  </section>
  <section class="nested">
    <h3>Фотонные чипы</h3>
    
    <p>
        Четвёртая технология – фотонные чипы, в которых в качестве кубитов выступают кванты 
        света. По своей сути, это фотонные инте-гральные схемы, выполняющие логические операции с 
        распространяю-щимися по оптическим каналам фотонами. На основе этих чипов в пер-спективе возможно
         создание фотонной логики по аналогии с уже суще-ствующей компьютерной логикой, упомянутой в 
         начале статьи. Функции переключения можно реализовать нелинейными оптическими эффекта-ми, 
        вызываемыми одним управляющим оптическим сигналом и воздей-ствующими на другой оптический сигнал.  </p>
    <p>
        Однако данная технология, несмотря на такие преимущества, как воз-можность работы при комнатных 
        температурах и чрезвычайно высо-кую, по сути, световую, скорость работы, имеет относительно малую
         степень развитости. При реализации фотонной логики могут быть необ-ходимы оптические резонаторы,
          увеличивающие энергию за счёт усили-вающей интерференции (интерференции в одной фазе) и 
          упрощающие возникновение нелинейных эффектов. 
        Всё это сейчас затрудняет мас-штабирование данных систем.  
    </p>
    <img src="" alt="Фотонные чипы">
  </section>
  </section>

  